<div class="eventcontaineradd">
    <form action="/events/edit" method="post">

        <label class="titleevent" for="name"> Name</label>
        <input class="" type="text" value="{{data.name}}" name="name" id="">
        <label class="titleevent" for="name"> Description</label>
        <input class="" type="text" value="{{data.description}}" name="description" id="">

        <label class="titleevent" for="name"> Location</label>
        <input class="" type="text" value="{{data.location}}" name="location" id="">
        <input class="titleevent" type="text" hidden value="{{data._id}}" name="id" id="">


        <button class="btn" type="submit">Go</button>


        {{error}}
    </form>
</div>
<div class="eventcontaineradd">
    <form action="/events/remove/{{data.id}}" method="post">

        <button class="btn" type="submit">Delete</button>
</div>
</form>
</div>
</div>