<div class="eventcontainer">

    <ul class="listevent">
        <li class="titleevent"> {{data.name}} </li>

        <li class="locationevent">{{data.provincia}}</li>

        <li class="locationevent">de : {{data.dateInit}} {{data.timeInit}} </li>

        <li class="locationevent">a : {{data.dateEnd}} {{data.timeEnd}} </li>

        <li class="locationevent">{{data.price}} € </li>
        creado por : {{data.admin}}
    </ul>

    <form action="/events/assist" method="post">
        <input type="text" name="id" value="{{data.id}}" hidden>

        <button class="btnpink" type="submit">Assist</button>


    </form>
    <form action="/events/cancel" method="post">
        <input type="text" name="id" value="{{data.id}}" hidden>

        <button class="btnpink" type="submit">Cancel</button>


    </form>

</div>


{{#if canEdit}}
{{> buttonEdit}}
{{/if}}


<a class="btn" href="/events">Back</a>
<br>
{{#if isAdmin}}


{{> eventadmin}}


{{/if}}


<h3>Members</h3>
{{#each data.guests}}
{{this.username}}
<a href="/profile/{{this.username}}">Ver</a>


{{/each}}