<div class="container-event-details">
    {{> eventViewMenu}}

    <section class="slideshow">
        <div class="event-details"></div>
        <div>
            <h1 class="title-event"> {{data.name}}</h1>
            {{#if canEdit}}
            <div class="icon">

                <a class="edit" href="/events/edit/{{data.id}}"><i class="fa fa-pencil"></i></a>
            </div>
            {{/if}}
        </div>

        <div class="event-list-details">
            <ul>
                <li class="locationevent">{{data.provincia}}</li>
                <li class="locationevent">from : {{data.dateInit}} {{data.timeInit}} </li>
                {{!-- <li class="locationevent">to : {{data.dateEnd}} {{data.timeEnd}} </li> --}}
                <li class="locationevent">{{data.price}} € </li>
                <li class="locationevent">{{data.description}} </li>

            </ul>

            <div class="slideshow-container slide">
                <img src="http://placeimg.com/625/225/tech" />
                <img src="http://placeimg.com/625/226/tech" />
                <img src="http://placeimg.com/625/227/tech" />

            </div>
    </section>
</div>
<div class="event-details">
    <div class="event-list-details">
        <div class="event-description">
            <h4>Date : {{data.dateInit}} at {{data.timeInit}} </h4>


            <div>
                {{!-- <<<<<<< DANI --}}
                <h3>Tags</h3>
                {{#each data.tags}}
                {{this}}


                {{/each}}

                {{!-- 
            <h3>Admin: {{data.admin}}</h3> --}}

                <p>{{data.description}}</p>

                <p>{{data.price}} € </p>

            </div>
        </div>

        <button type="submit" style="background-color: none;"><a href="" class="card-media-link">GET
                TICKETS</a></button>
        </form>
        <div class="card-media-body">
            <div class="card-meda-header">
                <div>
                    {{!-- <span class="card-media-body-supporting-bottom-text subtle">#Music #Party</span> --}}
                </div>

                <div>

                    <form action="/events/assist" method="post">
                        <input type="text" name="id" value="{{data.id}}" hidden>
                        <div class="card-media-body">
                            <div class="separator"></div>
                            <div class="card-meda-header">
                                <div>
                                    {{#each data.tags}}
                                    <span class="card-media-body-supporting-bottom-text subtle">
                                        #{{this}}
                                    </span>

                                    {{/each}}
                                </div>

                                <div>
                                    <a type="submit" href="" class="card-media-link">GET TICKETS</a>

                                </div>
                            </div>
                            <div>
                                <h3>Social</h3>


                                <ul class="card-media-object-social-list">
                                    <li>
                                        <a href="/profile/{{data.admin}}">{{data.admin}}</a>
                                        <img src="https://s10.postimg.cc/3rjjbzcvd/profile_f.jpg" class="">
                                    </li>
                                    {{#each data.members}}
                                    <li>
                                        <a href="/profile/{{this.username}}">{{this.username}}</a>
                                        <img src="https://s16.postimg.cc/b0j0djh79/profile_0_f.jpg" class="">
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                        {{!-- <form action="/events/cancel" method="post">
            <input type="text" name="id" value="{{data.id}}" hidden>


                <ul class="card-media-object-social-list">
                    <li>
                        <a href="/profile/{{data.admin}}">{{data.admin}}</a>
                        <img src="https://s10.postimg.cc/3rjjbzcvd/profile_f.jpg" class="">
                    </li>
                    {{#each data.members}}
                    <li>
                        <a href="/profile/{{this.username}}">{{this.username}}</a>
                        <img src="https://s16.postimg.cc/b0j0djh79/profile_0_f.jpg" class="">
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </form>
    <form action="/events/cancel" method="post">
        <input type="text" name="id" value="{{data.id}}" hidden>
        <div class="card-media-body">
            <div class="card-meda-header event-cancel">
                <a type="submit" href="" class="card-media-link">Cancel </a>
            </div>
        </div>
    </form>

</div>


{{!-- {{#if isAdmin}}
<div class="events-media">
    {{> eventadmin}}
</div>
{{/if}} --}}