<div class="container-event-details">
    {{> eventViewMenu}}
    <div class="event-details">
        <div>
            {{#if canEdit}}
            {{> buttonEdit}}


            {{/if}}
            <h1 class="titleevent"> {{data.name}}</h1>
        </div>
        <div class="event-list-details">
            <ul>
                <li class="locationevent">{{data.provincia}}</li>
                <li class="locationevent">from : {{data.dateInit}} {{data.timeInit}} </li>
                <li class="locationevent">to : {{data.dateEnd}} {{data.timeEnd}} </li>
                <li class="locationevent">{{data.price}} € </li>

            </ul>
        </div>
        <div>
            <h3>Tags</h3>
            {{#each data.tags}}
            {{this}}


            {{/each}}


            <h3>Admin: {{data.admin}}</h3>
        </div>

    </div>
    <div>
        <form action="/events/assist" method="post">
            <input type="text" name="id" value="{{data.id}}" hidden>

            <button class="btnpink" type="submit">Assist</button>
        </form>
        <form action="/events/cancel" method="post">
            <input type="text" name="id" value="{{data.id}}" hidden>

            <button class="btnpink" type="submit">Cancel</button>
        </form>
    </div>
</div>

{{#if isAdmin}}


{{> eventadmin}}


{{/if}}


<h3>Members</h3>
{{#each data.members}}
{{this.username}}
<a href="/profile/{{this.username}}">Ver</a>


{{/each}}