<div class="eventcontainer-add">
    {{> eventViewMenu}}
    <form action="/events/edit" method="post">
        <h2 class="input-label-add">EDIT THE EVENT INFO</h2>
        <div>
            <label class="input-label-add" for="name"> Name</label>
            <div>
                <input class="input-add" type="text" value="{{data.name}}" name="name" id="">
            </div>
        </div>
        <div>
            <label class="input-label-add" for="name"> Description</label>
            <div>
                <input class="input-add" type="text" value="{{data.description}}" name="description" id="">
            </div>
        </div>
        <div>
            <label class="input-label-add" for="name"> Location</label>
            <div>
                <input class="input-add" type="text" value="{{data.location}}" name="location" id="">
                <input class="input-add" type="text" hidden value="{{data._id}}" name="id" id="">
            </div>
        </div>

        <h2 class="input-label-add">Event day</h2>
        <div>
            <h2 class="input-label-add">From</h2>
            <input class="input-add" type="date" value="{{data.dateInit}}" id="appt" value="" name="datefrom">
            <input class="input-add" type="time" value="{{data.timeInit}}" id="appt" name="timefrom">
        </div>
        <div>
            <h2 class="input-label-add">To</h2>
            <input class="input-add" type="date" value="{{data.dateEnd}}" id="appt" name="dateto">
            <input class="input-add" type="time" value="{{data.timeEnd}}" id="appt" name="timeto">
        </div>


        <h2 class="input-label-add">Price €</h2>
        <div>
            <input type="number" step=".01" value="{{data.price}}" class="input-add" name="price" id="">
        </div>
        <div>
            <button class="btn" type="submit">Submit</button>
            <form action="/events/remove/{{data.id}}" method="post">

                <button class="btn" type="submit">Delete</button>

            </form>
        </div>
        {{error}}

    </form>
</div>