{{> eventsMenu}}
<div class="eventcontainer-profile">
    <img class="profile-img" id='profileimage' src="/images/no_image_available.jpeg" alt="" srcset="">
</div>
<section class="container">
    <div class="welcome">
        <h3>My events </h3>
    </div>
    <div class="col-events">

        <div class="containerev">
            {{#each persodata}}
            <div class="eventcontainer">

                <div class="imageside">
                    {{!-- 
            <img class="profile-img" src="/images/no_image_available.jpeg" alt="" srcset=""> --}}

                </div>
                <div class="infoside">
                    <p class="title-event">{{this.name}}</p>
                    <p class="locationevent">{{this.location}}</p>


                    <a class=" btnpink" href="/events/view/{{this.id}}">GO TO EVENT</a>
                </div>
                {{!-- <ul class="listevent">

            <li class="titleevent"> {{this.name}} </li>

            <li class="locationevent">{{this.provincia}}</li>
            <h4><a class="btn" href="/events/edit/{{this.id}}">EDIT</a></h4>
           
        </ul> --}}

            </div>
            {{/each}}
        </div>
    </div>


</section>

{{#if isAdmin}}


<div class="title-event">

    <div>
        <h3>Settings</h3>
    </div>
    <div>
        <h3 class="center">User Information</h3>
    </div>


</div>

<div class="profile">
    <form action="/profile/edituser" method="post">
        <h3 class="userlabel center">{{error}}</h3>
        <input name="nametoedit" hidden value="{{datauser.username}}">
        <h5>Your username is : <span class="userlabel">{{datauser.username}}</span>
            <a class="edituser " id="editUser">Edit</a>
            <a class="edituser display" id="cancelEdit">Cancel</a>
        </h5>
        <input id="username" class="display" type="text" value="" name="name">
        <input id="buttonchange" class="display" type="submit" value="Save" name="">
        <br>
        <h5 class="display userlabel" id="useralert">Change username need re-login</h5>
    </form>
    <form action="/profile/editpass" method="post">
        <input name="nametoedit" hidden value="{{datauser.username}}">
        <h5>Change Password
            <a class="edituser" id="editPass">Edit</a>
            <a class="edituser display" id="cancelPass">Cancel</a>
        </h5>
        <input id="password" class="display" type="password" value="" name="pass">
        <input id="password2" class="display" type="password" value="" name="pass2">
        <input id="buttonchangepass" class="display" type="submit" value="Save" name="">
        <br>
        <h5 class="display userlabel" id="useralertpass">Change password need re-login</h5>
    </form>



</div>
<script>

    document.getElementById('editUser').addEventListener('click', () => {

        document.getElementById('username').classList.remove('display')
        document.getElementById('buttonchange').classList.remove('display')
        document.getElementById('useralert').classList.remove('display')
        document.getElementById('editUser').classList.add('display')
        document.getElementById('cancelEdit').classList.remove('display')
    })
    document.getElementById('cancelEdit').addEventListener('click', () => {
        document.getElementById('username').classList.add('display')
        document.getElementById('buttonchange').classList.add('display')

        document.getElementById('useralert').classList.add('display')
        document.getElementById('cancelEdit').classList.add('display')

        document.getElementById('editUser').classList.remove('display')
    })
    document.getElementById('editPass').addEventListener('click', () => {

        document.getElementById('password').classList.remove('display')
        document.getElementById('password2').classList.remove('display')
        document.getElementById('buttonchangepass').classList.remove('display')

        document.getElementById('useralertpass').classList.remove('display')
        document.getElementById('editPass').classList.add('display')
        document.getElementById('cancelPass').classList.remove('display')
    })
    document.getElementById('cancelPass').addEventListener('click', () => {
        document.getElementById('password').classList.add('display')
        document.getElementById('password2').classList.add('display')
        document.getElementById('buttonchangepass').classList.add('display')
        document.getElementById('useralertpass').classList.add('display')
        document.getElementById('cancelPass').classList.add('display')
        document.getElementById('editPass').classList.remove('display')
    })
</script>

{{/if}}