<div class="container-event-details">{{> eventsMenu}}
    <div class="containerevent">

        <form method="post" action="finder/result/" + {{data}}>
            <select name="city" class="search-bar" size="1" id="">
                {{#each data}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>

            <div class="search-btn-content">
                <button type="submit" class="search-button" value="Search">
                    <i class="fa fa-search"></i>
                </button>


            </div>

        </form>


        {{!-- action="finder/result/" + {{datatag}} --}}
        {{!-- <select name="tag" class="bycity" size="1" id=""> --}}

        {{!-- {{#each datatag}}
                    <option value="{{this}}">{{this}}</option> --}}

        {{!-- <a class="bycity" href="finder/result/{{this}}/">{{this}}</a> --}}


        {{!-- <br>
                    {{/each}} --}}


        <div class="search-tag-position">
            <ul class="search-tag">
                {{#each datatag}}
                <form method="post" action="finder/tagresult/">
                    <li>

                        <input type="submit" value="{{this}}" name="tag" id="">
                        {{!-- <a href="finder/tagresult/{{this}}/">#{{this}}</a> --}}
                        {{!-- <input value="{{this}}" type="submit"> --}}
                    </li>
                </form>
                {{/each}}
            </ul>
        </div>

        {{!-- </select> --}}

        {{!-- <div class="profile event-details">

                <input type="submit" value="Find">

            </div> --}}

        {{!-- <div class="container">
            <div class="welcome">
                <h2>Event list</h2>
            </div>
            <div class="col-events">
                {{> eventListAll}}
            </div>
        </div> --}}
    </div>
</div>